---
layout: default
---

<style>
  /* Tooltip container */
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #9be9ff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  </style>
  
  <div class="tooltip">Hover over me
    <span class="tooltiptext">Tooltip text</span>
  </div>

  
{%comment%} 
Setup course data
    - Extract data by course
    - Within course create units
{%endcomment%}

{% assign course = site.data[page.course] %}
{% assign units = page.units | split: ',' %}

<h1>{{ page.title }}</h1>

{% for unit in units %}
  {% assign unitKey = "Unit" | append: unit %}
  {% assign unitData = course[unitKey] %}
  
  <h2>{{ unitKey }}: {{ unitData.title }}</h2>
  <p>{{ unitData.description }}</p>

  <table>
    <thead>
      <tr>
        <th>Week</th>
        <th>Plans</th>
        <th>Examples</th>
        <th>Hacks (Todo)</th>
        <th>Tangibles</th>
        <th>Reviews</th>
      </tr>
    </thead>
    <tbody>
      {% for index in (unitData.start..unitData.end) %}
        <tr>
          <td>{{ index }}</td>
          <td>
            {% for post in site.posts %}
              {% if post.courses[page.course] and post.courses[page.course].week == index %}
                {% if post.type == "plans" %}
                  <a href="{{ site.baseurl }}{{ post.url }}">
                    <div class="tooltip">{{ post.title }}
                      <span class="tooltiptext">{{post.description}}</span>
                    </div>              
                  </a><br>
                {% endif %}
              {% endif %}
            {% endfor %}
          </td>
          <td>
            {% for post in site.posts %}
              {% if post.courses[page.course] and post.courses[page.course].week == index %}
                {% if post.type == "examples" %}
                  <a href="{{ site.baseurl }}{{ post.url }}">
                    <div class="tooltip">{{ post.title }}
                      <span class="tooltiptext">{{post.description}}</span>
                    </div>    
                  </a><br>
                {% endif %}
              {% endif %}
            {% endfor %}
          </td>
          <td>
            {% for post in site.posts %}
              {% if post.courses[page.course] and post.courses[page.course].week == index %}
                {% if post.type == "hacks" %}
                  <a href="{{ site.baseurl }}{{ post.url }}">
                    <div class="tooltip">{{ post.title }}
                      <span class="tooltiptext">{{post.description}}</span>
                    </div>    
                  </a><br>
                {% endif %}
              {% endif %}
            {% endfor %}
          </td>
          <td>
            {% for post in site.posts %}
              {% if post.courses[page.course] and post.courses[page.course].week == index %}
                {% if post.type == "tangibles" %}
                  <a href="{{ site.baseurl }}{{ post.url }}">
                    <div class="tooltip">{{ post.title }}
                      <span class="tooltiptext">{{post.description}}</span>
                    </div>    
                  </a><br>
                {% endif %}
              {% endif %}
            {% endfor %}
          </td>
          <td>
            {% for post in site.posts %}
              {% if post.courses[page.course] and post.courses[page.course].week == index %}
                {% if post.type == "reviews" %}
                  <a href="{{ site.baseurl }}{{ post.url }}">
                    <div class="tooltip">{{ post.title }}
                      <span class="tooltiptext">{{post.description}}</span>
                    </div>    
                  </a><br>
                {% endif %}
              {% endif %}
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endfor %}
